body{
    padding: 0;
    margin: 0;
    border: 0;
    height: 100vh;
    background: linear-gradient(
      to bottom,
      #1f2937 0%,
      #1f2937 50%,
      rgb(253, 253, 253) 50%,
      rgb(255, 255, 255) 100%
    );
  }

.header{
  color: #F9FAF8;
    display: flex;
    justify-content: space-around;
    padding: 12px;
  }

.links{
  display: flex;
  column-gap: 30px;

}


h1{
  display: flex;
  justify-content: flex-start
  flex-wrap: wrap;
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
  width: 50%;
}

